<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="demo-drawer-header">
    <img src="../images/joey.jpeg" class="demo-avatar">
    <div class="demo-avatar-dropdown">
      <span>{{user.email}}</span>
      <div class="mdl-layout-spacer"></div>
      <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon notification">
        <div class="icon material-icons mdl-badge" data-badge="7">account_box</div>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
        <button class="mdl-menu__item">4 collaboration request(s)</button>
        <button class="mdl-menu__item">3 new Lagos Project(s)</button>
      </ul>
    </div>
  </header>
  <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
    <a class="mdl-navigation__link" ui-sref="profile"><i class="mdl-color-text--blue-grey-400 material-icons">home</i>Home</a>
    <a class="mdl-navigation__link" ui-sref="timeline"><i class="mdl-color-text--blue-grey-400 material-icons">forum</i>timeline</a>
    <a class="mdl-navigation__link" ui-sref="updates"><i class="mdl-color-text--blue-grey-400 material-icons">flag</i>Updates</a>
    <a class="mdl-navigation__link"><i class="mdl-color-text--blue-grey-400 material-icons">local_offer</i>Tags</a>
    <a class="mdl-navigation__link"><i class="mdl-color-text--blue-grey-400 material-icons">people</i>Recommended</a>
    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">help_outline</i></a>
  </nav>
</div>
